/*****************/
/* COLOR PICKING */
/*****************/
/* http://html-color.org/ */
/* https://material.io/resources/color/ */

/* Normalize any differences between browsers. */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #232423;

    /* Don't take up the full width of the window so that we still */
    /* get some vertical bars of the background color on the edges */
    /* to draw the eye to the center where the content is.         */
    max-width: 85%;

    /* Horizontal center. */
    margin: auto;
}

#main-content
{
    background-color: white;
    padding: 20px;
}

/* Space between sections. */
#main-content > :not(:first-child)
{
    margin-top: 20px;
}

/**************/
/* USER INPUT */
/**************/
#example-input-select-label
{
    font-weight: bold;
}

#examples-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea
{
    width: 100%;

    /* Don't allow horizontal resizing. */
    resize: vertical;
}

/***********/
/* BUTTONS */
/***********/
#redraw-graphs-button
{
    /* Make sure button is on own line. */
    display: block;

    /* Center. */
    margin: auto;

    /* Magic numbers that fit the text and look good. */
    width: 200px;
    height: 50px;

    /* This is the important button, so make it stand out. */
    font-size: 150%;
}

#generate-link-button
{
    /* Make sure button is on own line. */
    display: block;

    /* Right justify. */
    margin-left: auto;

    /* Magic numbers that fit the text and look good. */
    width: 175px;
    height: 30px;
}

#random-example-button
{
    /* Magic numbers that fit the layout. */
    width: 30px;
    height: 30px;
}

#random-example-button-icon
{
    background: url("../random-example-icon.svg") no-repeat top left;

    /* Take up the entire button. */
    height: 100%;
    width: 100%;
}

/**********/
/* GRAPHS */
/**********/
#graphs-section
{
    /* Invisible by default so we don't get an initial flash before the JS loads. */
    display: none;
}

.chart-div:not(:first-child)
{
    /* Space between charts. */
    margin-top: 20px;
}

.chart-div
{
    /* Horizontal center. */
    margin-left: auto;
    margin-right: auto;

    /* What we really want to do it limit the height of the graph so that it  */
    /* will always fit on a single screen, otherwise it's really difficult to */
    /* comprehend. However, for some reason ChartJS doesn't like it when we   */
    /* try to set the height directly, we instead need to set the width and   */
    /* the graph's fixed aspect ratio will adjust the height.                 */
    width: 60%;

    /* If someone is working on a narrow window (e.g. taking up only half of */
    /* the screen) then there is no need to make the graph super small, so   */
    /* set a reasonable minimum.                                             */
    min-width: 500px;
}

/*******************/
/* ERROR REPORTING */
/*******************/
#errors-section
{
    /* Invisible by default so we don't get an initial flash before the JS loads. */
    display: none;

    padding: 20px;
    border: 3px solid black;

    background-color: #ecc;
}

#syntax-error-header
{
    /* Make it stand out so the user know what's wrong. */
    color: red;
}

#error-line
{
    /* Make the error stand out more. */
    background-color: lightcoral;
}

/***********/
/* NAV BAR */
/***********/
#nav-bar
{
    background-color: #FF8B44;
    display: flex;

    /* Make sure all the links have the same height even */
    /* if they have a different number of text lines.    */
    align-items: stretch;
}

.current-page,
.not-current-page:hover
{
    /* Make the "special" links stand out some more. */
    background-color: #DF5400;
}

#nav-bar a
{
    /* Vertically center link text for the case where */
    /* the link box height is taller than the text.   */
    display: flex;
    align-items: center;

    font-size: 125%;

    text-align: center;

    /* Give the link a bigger area to be clicked on. */
    padding: 10px;

    /* Make it so the current page/hover doesn't take */
    /* up the full vertical height.                   */
    margin-top: 10px;
    margin-bottom: 10px;

    /* Horizontal space between the links. */
    margin-left: 10px;

    /* Force the color so that visited links don't look different. */
    color: black;

    /* No underline under the hyperlinks. */
    text-decoration: none;
}

#nav-bar a:last-child
{
    /* If the screen width is small then we want to make sure    */
    /* the last element is the same distance away from the right */
    /* side as the first element is from the left side.          */
    margin-right: 10px;
}
